<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="d-flex justify-content-center">
        <h2 class="lead">Task Management</h2>
      </div>
      <form class="row g-3" [formGroup]="taskForm" (submit)="onSubmit()">
        <div class="col-12 col-lg-3 col-md-3">
          <label class="form-label lead">Title</label>
          <input type="text" class="form-control" formControlName="title" />
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <label class="form-label lead">Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
          />
        </div>
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!taskForm.valid"
          >
            ADD
          </button>
        </div>
      </form>
      <p>Please re-load when you do any CURD operation</p>
    </div>
  </div>
  <div class="row mt-5 mb-5 lead">
    <h2 *ngIf="Tasks.length > 0">List of tasks</h2>
    <div *ngFor="let task of Tasks" class="row myborder">
      <div class="col-12 col-lg-5 col-md-5">
        <div class="d-flex justify-content-between">
          <h3>{{ task.title }}</h3>
          <span>-</span><span>{{ task.status }}</span>
        </div>

        <p>{{ task.description }}</p>
        <form [formGroup]="editTask">
          <div class="row">
            <div class="col-lg-3">
              <p>Choose an option</p>
            </div>
            <div class="d-flex justify-content-between">
              <select
                class="myclass"
                formControlName="status"
                (click)="editForm(task._id)"
              >
                <option value="completed">completed</option>
                <option value="pending">pending</option>
              </select>
              <span class="delete" (click)="removeTask(task._id)"
                ><button type="button" class="btn btn-danger btn-sm">
                  Delete
                </button></span
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
