<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <form class="row g-3" [formGroup]="taskForm" (submit)="onSubmit()">
        <div class="col-12 col-lg-3 col-md-3">
          <label class="form-label lead">Title</label>
          <input type="text" class="form-control" formControlName="title" />
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <label class="form-label lead">Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
          />
        </div>
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!taskForm.valid"
          >
            ADD
          </button>
          <button class="btn btn-secondary m-2" routerLink="/home/list">
            List of task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
